parameters:
    database_host: postgres
    database_port: ~
    database_name: shopsys
    database_user: root
    database_password: root
    database_server_version: 10.5

    redis_host: redis

    mailer_transport: smtp
    mailer_host: smtp-server
    mailer_user: ~
    mailer_password: ~
    mailer_disable_delivery: false
    mailer_master_email_address: no-reply@shopsys.com
    mailer_delivery_whitelist: [/@shopsys\.com$/]

    microservice_product_search_url: 'http://microservice-product-search'
    microservice_product_search_export_url: 'http://microservice-product-search-export'

    secret: ThisTokenIsNotSoSecretChangeIt

    pohoda_database_driver: pdo_sqlsrv
    pohoda_database_host: 10.10.11.189
    pohoda_database_port: 1433
    pohoda_database_name: StwPh_123456
    pohoda_database_user: pohodasql
    pohoda_database_password: pohoda123
    pohoda_database_charset: UTF8
    pohoda_database_server_version: 12.0